@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


@theme {
    --font-primary: 'Playfair Display SC', serif;
    --font-secondary: 'Julius Sans One', sans-serif;
    --font-additional: 'Kanit', sans-serif;


    /*  */
    --color-dark: #383838;
    --color-gray: #6b6b6b;
    --color-light: #fdfdfd;


    /*  */
    --spacing-small: 8px;
    --spacing-compact: 16px;
    --spacing-middle: 24px;
    --spacing-big: 32px;
    --spacing-large: 40px;
    --spacing-huge: 64px;


    /*  */
    --text-base_1920: 16px;
    --text-h1_1920: 60px;
    --text-h2_1920: 40px;
    --text-small_1920: 14px;
    --text-big_1920: 22px;

    --text-base_1440: 14px;
    --text-h1_1440: 48px;
    --text-h2_1440: 32px;
    --text-small_1440: 12px;
    --text-big_1440: 20px;

    --text-base_1270: 13px;
    --text-h1_1270: 36px;
    --text-h2_1270: 24px;
    --text-small_1270: 11px;
    --text-big_1270: 19px;

    
    /*  */
    --leading-base_1920: 20px;
    --leading-h1_1920: 52px;
    --leading-h2_1920: 32px;
    --leading-big_1920: 26px;

    --leading-base_1440: 17px;
    --leading-h1_1440: 42px;
    --leading-h2_1440: 28px;
    --leading-big_1440: 24px;

    --leading-base_1270: 16px;
    --leading-h1_1270: 32px;
    --leading-h2_1270: 18px;
    --leading-big_1270: 23px;


    /* Breakpoints are calculated by substracting 5% of the screen size */
    --breakpoint-1920: 1824px;
    --breakpoint-1440: 1368px;
    --breakpoint-1270: 1206px;
    --breakpoint-1024: 973px;
    --breakpoint-768: 730px;
    --breakpoint-430: 408px;
}
